body {
  background-color: rgb(224, 220, 220);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  color: #885df1;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  padding: 30px 0px 0px;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(175, 148, 238, 0.08);
  border-radius: 10px;
  padding: 30px;
}

.search-input {
  background-color: rgb(245, 217, 245);
  font-size: 16px;
  border: none;
  border-radius: 6px;
  width: 70%;
  padding: 15px 20px;
}

.search-bar {
  background-color: #885df1;
  width: 20%;
  border-radius: 6px;
  margin-left: 20px;
  padding: 15px 20px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-temp {
  color: black;
  font-size: 71px;
  font-weight: bolder;
  position: static;
  top: -22px;
  right: -5px;
}

.weather-icon {
  width: 88px;
}

.temp-unit {
  color: black;
  position: static;
  top: -23px;
  font-size: 25px;
}

.current-temp-container {
  color: rgba(28, 23, 54, 0.4);
  margin-top: 0;
  padding: 0px 25px;
  display: inline-block;
  justify-content: right;
  font-weight: 500;
  line-height: 24px;
}

.current-temp-container strong {
  color: #f65282;
}
.weather-city {
  margin: 0;
  font-size: 45px;
  line-height: 48px;
}

.weather-details {
  color: rgba(28, 23, 54, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-container {
  margin: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
}
